@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	font-family: "Poppins", sans-serif;
}
.section-container {
	@apply max-w-6xl mx-auto text-center;
}
@layer base {
	h5 {
		margin-bottom: 0.5rem;
		font-size: 1.5rem;
		line-height: 2rem;
		font-weight: 700;
		--tw-text-opacity: 1;
		color: hsl(210 10% 33% / var(--tw-text-opacity));
	}
}
body {
	background-image: url("../public/images/bg-header-desktop.png");
	background-repeat: no-repeat;
	background-size: contain;
}
@media (max-width: 576px) {
	body {
		background-image: url("../public/images/bg-header-mobile.png");
		background-repeat: no-repeat;
		background-size: contain;
	}
}
